.idea/
.idea.bak/
logs/
log/
dict/
data/
py3venv/
tmp/
__pycache__/
*.pyc
*.swp
*.log
*.out
*.json
*.gz
*.svm
*.DS_Store
chinese_L-12_H-768_A-12/
dict/first_class_news_model.bin
dict/first_class_news_model.bin.bak
